.search {
	width: 100%;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

.search input {
	margin-bottom: 1rem;
	width: 100%;
	height: 65px;
	background: #3b404b;
	border: none;
	font-size: 2.1rem;
	float: left;
	color: #c5c5c5;
	padding-left: 65px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
}

/*input*/

.search input::-webkit-input-placeholder {
	color: #85938e;
}

.search input::-moz-placeholder {
	color: #85938e;
}

.search input:-ms-input-placeholder {
	color: #85938e;
}

.search input::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

/*icon*/

.search .icon {
	position: absolute;
	top: 50%;
	margin-left: 13px;
	margin-top: 13px;
	z-index: 1;
	color: #242b28;

	-webkit-transition: color .55s ease;
	-moz-transition: color .55s ease;
	-ms-transition: color .55s ease;
	-o-transition: color .55s ease;
	transition: color .55s ease;
}

/*hover*/

.search input:hover, .search input:focus, .search input:active {
	outline:none;
	background: #424652;
}

.search:hover .icon {
	color: #1d1d23;
}
